#!/bin/bash
# - 备份数据库，每天 在 02:50 备份
mysql_dump_path="项目根路径/storage/backups"
mysql_database_avatar="yth_blog_avatar" #数据库名称
mysql_database_ext="yth_blog_ext" #数据库名称
mysql_user="" # 数据库帐号
mysql_password="" # 数据库密码


last_day=`date -d last-day +%Y%m%d`

# backup database  in raw
mysqldump -u${mysql_user} -p${mysql_password} ${mysql_database_avatar} > ${mysql_user}.sql 
mysqldump -u${mysql_user} -p${mysql_password} ${mysql_database_ext} >> ${mysql_user}.sql 
tar -zcvf ${mysql_dump_path}/${last_day}.tar.gz ${mysql_user}.sql 
rm -rf ${mysql_user}.sql 
